@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root { color-scheme: light; }
.dark { color-scheme: dark; }

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar { display: none; }
* { scrollbar-width: none; }
